[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "adaptable"]
	path = adaptable
	url = https://github.com/volkovasystems/adaptable.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
