[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "adaptable"]
	path = adaptable
	url = https://github.com/volkovasystems/adaptable.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
[submodule "half-page"]
	path = half-page
	url = https://github.com/volkovasystems/half-page.git
[submodule "ng-safe-apply"]
	path = ng-safe-apply
	url = https://github.com/volkovasystems/ng-safe-apply.git
[submodule "ng-bind-dom"]
	path = ng-bind-dom
	url = https://github.com/volkovasystems/ng-bind-dom.git
[submodule "absurd-compiler"]
	path = absurd-compiler
	url = https://github.com/volkovasystems/absurd-compiler.git
[submodule "absurd-reset"]
	path = absurd-reset
	url = https://github.com/volkovasystems/absurd-reset.git
[submodule "ng-auto-resize"]
	path = ng-auto-resize
	url = https://github.com/volkovasystems/ng-auto-resize.git
[submodule "force-auto-resize"]
	path = force-auto-resize
	url = https://github.com/volkovasystems/force-auto-resize.git
[submodule "ng-app-determine"]
	path = ng-app-determine
	url = https://github.com/volkovasystems/ng-app-determine.git
[submodule "domo-stringify"]
	path = domo-stringify
	url = https://github.com/volkovasystems/domo-stringify.git
