[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "adaptable"]
	path = adaptable
	url = https://github.com/volkovasystems/adaptable.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
[submodule "half-page"]
	path = half-page
	url = https://github.com/volkovasystems/half-page.git
[submodule "ng-safe-apply"]
	path = ng-safe-apply
	url = https://github.com/volkovasystems/ng-safe-apply.git
[submodule "ng-bind-dom"]
	path = ng-bind-dom
	url = https://github.com/volkovasystems/ng-bind-dom.git
[submodule "absurd-compiler"]
	path = absurd-compiler
	url = https://github.com/volkovasystems/absurd-compiler.git
[submodule "absurd-reset"]
	path = absurd-reset
	url = https://github.com/volkovasystems/absurd-reset.git
[submodule "ng-auto-resize"]
	path = ng-auto-resize
	url = https://github.com/volkovasystems/ng-auto-resize.git
[submodule "force-auto-resize"]
	path = force-auto-resize
	url = https://github.com/volkovasystems/force-auto-resize.git
[submodule "ng-app-determine"]
	path = ng-app-determine
	url = https://github.com/volkovasystems/ng-app-determine.git
[submodule "domo-stringify"]
	path = domo-stringify
	url = https://github.com/volkovasystems/domo-stringify.git
[submodule "ng-on-render"]
	path = ng-on-render
	url = https://github.com/volkovasystems/ng-on-render.git
[submodule "page"]
	path = page
	url = https://github.com/volkovasystems/page.git
[submodule "page-group"]
	path = page-group
	url = https://github.com/volkovasystems/page-group.git
[submodule "compute-next-zindex"]
	path = compute-next-zindex
	url = https://github.com/volkovasystems/compute-next-zindex.git
[submodule "check-zindex-levels"]
	path = check-zindex-levels
	url = https://github.com/volkovasystems/check-zindex-levels.git
[submodule "reduce-zindex-levels"]
	path = reduce-zindex-levels
	url = https://github.com/volkovasystems/reduce-zindex-levels.git
[submodule "arbiter-module-load-notifier"]
	path = arbiter-module-load-notifier
	url = https://github.com/volkovasystems/arbiter-module-load-notifier.git
